<app-nav></app-nav>
  <div class="container" style="margin-top: 100px;">
    
    <div class="d-flex mb-2" style="margin-bottom: 30px;">
     <div class="mr-auto p-2">
       <h1 style="color: #ffe484;">
      Configurações <fa-icon [icon]="faTools"></fa-icon>
      </h1>
    </div>

     <div class="p-2">
       <button
     type="button" class="btn bg-colors" style="color: blueviolet; font-weight: 700;" data-toggle="modal" 
      data-target="#registarModal">
     Registar</button>
    </div>
      
    </div>
    
    <table class="table">
        <thead class="thead-dark" style="color: blueviolet;">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Descrição longa</th>
            <th scope="col">Preço</th>
            <th scope="col">Data De Criação</th>
            <th scope="col">Imagem</th>
            <th scope="col">Menu</th>
        </tr>
        </thead>
        <tbody style="color: white;">
        <tr *ngFor="let item of list">
            <th scope="row">{{item.id}}</th>
            <td>{{item.nome}}</td>
            <td>{{item.description}}</td>
            <td>{{item.fulldescription}}</td>
            <td>{{item.price}}</td>
            <td>{{item.date}}</td>
            <td data-toggle="tooltip" data-widget="chat-pane-toggle" title="image" (click)="getArticle(item.id)"
            data-toggle="modal"  data-target="#image"><img src="{{item.avatar}}" style="width: 40px;height: 40px;"><img>
          
          </td>

            <td> 
                <div class="btn-group btn-block">
                  <button type="button" class="btn any"
                    data-toggle="dropdown">Opções</button>
                  <button type="button" class="btn  btn-flat dropdown-toggle anys" data-toggle="dropdown"
                    aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">

                    <a href="javascript:void(0)" class="  btn-sm"
                      data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar"
                      data-toggle="modal"  data-target="#editarModal"
                       (click)="getAllData(item.id,item.file,item.nome,item.description,item.fulldescription,item.price,item.avatar)"> <i
                        class="fa fa-edit"></i> Editar
                    </a>

                  </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
  </div>

  <app-alert></app-alert>
            <div class="modal modal-info fade" id="image" data-backdrop="static">
              <div class="modal-dialog"  >
                <div class="modal-content" style="width: 100%;width: 290px;background-color: black;border:  #ffe484 2px solid;">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img" src="{{listOne?.avatar}}" alt="Card image" style="height: 300px;">
                    <div class="card-body" style="background-color: black;">
                      <h5 class="card-title">Detalhe Da Imagem</h5>
                      <p>{{listOne?.nome}}</p>
                      <p>{{listOne?.price}}</p>
                    </div>
                  </div>    
                  <div class="modal-footer">
                    <button type="button" class="btn  btn-danger" style="color: white; font-weight: 700;" data-dismiss="modal">Close</button>
                  </div>
                </div>
                  
                </div>
            </div>
  
    <div class="modal modal-info fade" id="registarModal" data-backdrop="static" >
      <div class="modal-dialog modal-lg" >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">REGISTAR</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="col-md-12">
              <div class="card-default">

                <!-- /.card-header -->
                <div class="card-body" style="padding: 9px;"><br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i> Nome</label>
                        <input type="text" class="form-control" placeholder="Nome"
                        [(ngModel)]="data.nome"
                         name="Descricao">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i>Descrição</label>
                        <input type="text" class="form-control" placeholder="Descrição"
                        [(ngModel)]="data.description"
                          name="Descricao">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i> Descrição longa</label>
                        <input type="text" class="form-control" placeholder="Descrição longa"
                        [(ngModel)]="data.fulldescription"
                          name="desc_log">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i>Preço</label>
                        <input type="text" class="form-control" placeholder="Preço"
                        [(ngModel)]="data.price"
                          name="preco">
                      </div>
                    </div>
<!-- 
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i>Data De Criação</label>
                        <input type="text" class="form-control" placeholder="data"
                        [(ngModel)]="data.description"
                          name="Data Criação">
                      </div>
                    </div> -->

                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label"><i class="fa fa-edit"></i>Imagem</label>
                        <ngx-dropzone (change)="onSelect($event)"  style="background-color:transparent !important;">
                          <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
                          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                          style="width: 100%;"
                           [removable]="true" (removed)="onRemove(f)" *ngFor="let f of files" [file]="f">
                            <ngx-dropzone-label style="width: 100%;">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                           </ngx-dropzone-image-preview>
                       </ngx-dropzone>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn  btn-danger" style="color: white; font-weight: 700;" data-dismiss="modal">Close</button>
            <button type="button" class="btn bg-colors" style="color: blueviolet; font-weight: 700;" (click)="register()">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  <div class="modal modal-info fade" id="editarModal" data-backdrop="static" >
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">EDITAR</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-alert></app-alert>
          <div class="col-md-12">
            <div class="card-default">

              <!-- /.card-header -->
              <div class="card-body" style="padding: 9px;"><br>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i> Nome</label>
                      <input type="text" class="form-control" placeholder="Nome"
                      [(ngModel)]="data.nome"
                       name="Descricao">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i>Descrição</label>
                      <input type="text" class="form-control" placeholder="Descrição"
                      [(ngModel)]="data.description"
                        name="Descricao">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i> Descrição longa</label>
                      <input type="text" class="form-control" placeholder="Descrição longa"
                      [(ngModel)]="data.fulldescription"
                        name="desc_log">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i>Preço</label>
                      <input type="text" class="form-control" placeholder="Preço"
                      [(ngModel)]="data.price"
                        name="preco">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label"><i class="fa fa-edit"></i>Imagem</label>
                      <ngx-dropzone (change)="onSelect($event)"  style="background-color:transparent !important;">
                        <ngx-dropzone-label>Largue aqui!</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                        style="width: 100%;"
                         [removable]="true" (removed)="onRemove(f)" *ngFor="let f of files" [file]="f">
                          <ngx-dropzone-label style="width: 100%;"  >{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                         </ngx-dropzone-image-preview>
                     </ngx-dropzone>
                    </div>
                  </div>

                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn  btn-danger" style="color: white; font-weight: 700;" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-colors" style="color: blueviolet; font-weight: 700;" (click)="update()">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  <footer class="container footer bg-colors ">
    <p class="float-right"><a href="#" class="a">Back to top</a></p>
    <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#" class="a">Privacy</a> &middot; <a href="#" class="a">Terms</a></p>
 </footer>