
  <app-nav></app-nav>

<div class="container"  style="margin: 40px auto;">
  <h1 style="color: #ffe484;margin-bottom: 30px;">Configurações <fa-icon [icon]="faVideo"></fa-icon></h1>
    <div class="text-white margin card">
      <video width="99%" height="auto" controls style="margin: 0px auto;">
        <source src="assets/movie.mp4" type="video/mp4">
        <source src="assets/movie.ogg" type="video/ogg">
      </video>
    </div>

    <div class="text-white margin card">
      <video width="99%" height="auto" controls style="margin: 0px auto;">
        <source src="assets/movie.mp4" type="video/mp4">
        <source src="assets/movie.ogg" type="video/ogg">
      </video>
    </div>
</div>

<div class="bg-colors footer">
  <footer class="container">
    <p class="float-right"><a href="#" class="a">Back to top</a></p>
    <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#" class="a">Privacy</a> &middot; <a href="#" class="a">Terms</a></p>
   </footer>
</div>