 
  <app-nav></app-nav>
<div class="container" style="margin: 40px auto; height: 400px;">
  
<div id="carouselExampleCaptions" class="carousel slide card" data-ride="carousel" style="height: auto;" >
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" *ngFor="let item of list">
      <div class="carousel-item" [ngClass]="{'active':id==item.id}" (change)="getId(item.id)">
        
        <img src="{{item.avatar}}" class="d-block w-100" alt="..." style=" height: 400px;">
        <div class="carousel-caption d-none d-md-block"  >
          <h5>{{item.description}}</h5>
          <p>{{item.fulldescription}}</p>
        </div>
      </div>
     
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev" (click)="reset()">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next" (click)="actives()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row"  style="display: flex;">
    <div class="col-lg-4 cards" *ngFor="let item of list">
      <img src="{{item.avatar}}" class="bd-placeholder-img rounded-circle" width="140" height="140"  role="img">
     
      <h2>{{item.nome}}</h2>
      <p style="font-weight: 200;opacity: 0.7;">{{item.fulldescription}}</p>
      <p><a class="btn any" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
 
<footer class="container footer bg-colors ">
  <p class="float-right"><a href="#" class="a">Back to top</a></p>
  <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#" class="a">Privacy</a> &middot; <a href="#" class="a">Terms</a></p>
</footer>