<div class="bg-colors">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" style="background-color:#ffe484;" routerLink="/home"><img src="assets/verniz.png" style="width: 40px; height: 40px;background-color:#ffe484;" alt="" srcset=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link styleA" routerLink="/home" routerLinkActive="active"><h3>H</h3>ome<fa-icon style="margin-left:3px;" [icon]="faHome"></fa-icon></a>
            </li>
            <li class="nav-item">
             <a class="nav-link styleA" routerLink="/list" routerLinkActive="active"><h3>L</h3>ista<fa-icon style="margin-left:3px;" [icon]="faList"></fa-icon></a>
            </li>
            <li class="nav-item">
              <a class="nav-link styleA" routerLink="/video" routerLinkActive="active"><h3>V</h3>ideos<fa-icon style="margin-left:3px;" [icon]="faVideo"></fa-icon></a>
            </li>
            <li class="nav-item">
              <a class="nav-link styleA" routerLink="/adimin" routerLinkActive="active"><h3>C</h3>onfigurações<fa-icon style="margin-left:3px;" [icon]="faTools"></fa-icon></a>
            </li>
            <li class="nav-item">
             <a class="nav-link styleA" routerLink="/profile" routerLinkActive="active"><h3>P</h3>erfil<fa-icon style="margin-left:3px;" [icon]="faUser"></fa-icon></a>
            </li>
            <li class="nav-item">
              <a class="nav-link styleA" routerLink="/pdf" routerLinkActive="active"><h3>P</h3>df<fa-icon style="margin-left:3px;" [icon]="faUser"></fa-icon></a>
            </li>
        </ul>
    </div>
    
</div>
 