
  <app-nav></app-nav>
<div class="container" style="margin: 40px auto;">
  <h1 style="color: #ffe484;text-align: center;">Configurações <fa-icon [icon]="faList"></fa-icon></h1>
    <div class="row " *ngFor="let item of list" style="margin: 0 auto;">

     <div class="card col-md-6 margin" style="margin: 40px auto;">
        <img [src]="item.avatar" class="card-img-top" alt="..." style="height:500px ;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn bg-colors" style="color:blueviolet">Go somewhere</a>
        </div>
      </div>  
    </div>
  </div>

  <footer class="container footer bg-colors ">
    <p class="float-right"><a href="#" class="a">Back to top</a></p>
    <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#" class="a">Privacy</a> &middot; <a href="#" class="a">Terms</a></p>
 </footer>